body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f4f4f4;
}

header {
    background-color: #2b4eff;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
.skills ul {
    list-style-type: square;
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px;
}